@page "/"
@inject IOcctService occtService

<PageTitle>Home</PageTitle>

<h1>Hello OCCT!</h1>
<h2>Running OCCT version: @Version</h2>

Welcome to your new app.

@code {
    [Parameter] public string Version { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Version = occtService.Version;
    }

}
